plugin/obj/Interp4Set.o
interp
libs/libInterp4Move.so
libs/libInterp4Pause.so
libs/libInterp4Rotate.so
libs/libInterp4Set.so
obj/LibInterface.o
obj/main.o
obj/xmlinterp.o
plugin/obj/Interp4Move.o
plugin/obj/Interp4Pause.o
plugin/obj/Interp4Rotate.o
processed
program_dzialan.tmp
obj/Set4LibInterfaces.o
obj/ComChannel.o
obj/Scene.o
obj/Cuboid.o
obj/Configuration.o
obj/ProgramInterpreter.o
.vscode/settings.json
