  <Config>
   <Plugins>
      <Lib Name="libInter4Move.so"/>
      <Lib Name="libInter4Rotate.so"/>
      <Lib Name="libInter4Pause.so"/>
      <Lib Name="libInter4Set.so"/>
   </Plugins>
<Objects>
    <Cube Name="Podstawa1" RGB="20 200 200" Scale="4 2 1" Shift="0.5 0 0" RotXYZ_deg="0 -45 20" Trans_m="-1 3 0"/>
    <Cube Name="Podstawa1.Ramie1" RGB="200 0 0" Scale="3 3 1" Shift="0.5 0 0" RotXYZ_deg="0 -45 0" Trans_m="4 0 0"/>
    <Cube Name="Podstawa1.Ramie1.Ramie2" RGB="100 200 0" Scale="2 2 1" Shift="0.5 0 0" RotXYZ_deg="0 -45 0" Trans_m="3 0 0"/>
    <Cube Name="Podstawa2" RGB="20 200 200" Scale="4 2 1" Shift="0.5 0 0" RotXYZ_deg="0 -45 0" Trans_m="-1 -3 0"/>
    <Cube Name="Podstawa2.Ramie1" RGB="200 0 0" Scale="3 3 1" Shift="0.5 0 0" RotXYZ_deg="0 -45 0" Trans_m="4 0 0"/>
    <Cube Name="Podstawa2.Ramie1.Ramie2" RGB="100 200 0" Scale="2 2 1" Shift="0.5 0 0" RotXYZ_deg="0 -45 0" Trans_m="3 0 0"/>
</Objects>

  </Config>
  
