  <Config>
   <Plugins>
      <Lib Name="libInter4Move.so"/>
      <Lib Name="libInter4Rotate.so"/>
      <Lib Name="libInter4Pause.so"/>
      <Lib Name="libInter4Set.so"/>
   </Plugins>
<Objects> 
    <!-- Korpus -->
    <Cube Name="Korpus" Shift="0 0 0" Scale="1 1 1" RotXYZ_deg="0 0 0" Trans_m="0 0 1" RGB="255 50 0"/>
    <Cube Name="Korpus.Detal1" Shift="0 0 -0.5" Scale="1.5 1.5 0.5" RotXYZ_deg="0 0 0" Trans_m="0 0 -0.5" RGB="255 50 0"/>
    <Cube Name="Korpus.Oko1" Shift="0 0 0" Scale="0.3 0.3 0.3" RotXYZ_deg="0 0 0" Trans_m="0.4 0.2 0.1" RGB="255 255 255"/>
    <Cube Name="Korpus.Oko1.Źrenica" Shift="0 0 0" Scale="0.1 0.1 0.1" RotXYZ_deg="0 0 0" Trans_m="-0.2 0 0" RGB="0 0 0 "/>    
    <Cube Name="Korpus.Oko2" Shift="0 0 0" Scale="0.3 0.3 0.3" RotXYZ_deg="0 0 0" Trans_m="0.4 0.2 0.1" RGB="255 255 255"/>
    <Cube Name="Korpus.Oko2.Źrenica" Shift="0 0 0" Scale="0.1 0.1 0.1" RotXYZ_deg="0 0 0" Trans_m="-0.2 0 0" RGB="0 0 0"/>


    <!-- Macki -->
    <!-- Macka 1 -->
    <Cube Name="Korpus.Macka1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -90 0" Trans_m="0.5 -0.5 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka1.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka1.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="45 45 45" Trans_m="0 0 -2" RGB="255 0 0"/>

    <!-- Macka 2 -->
    <Cube Name="Korpus.Macka2" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="0 -90 0" Trans_m="0.5 0 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka2.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka2.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="30 30 0" Trans_m="0 0 -2" RGB="0 0 0"/>

    <!-- Macka 3 -->
    <Cube Name="Korpus.Macka3" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="45 -90 0" Trans_m="0.5 0.5 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka3.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka3.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="30 30 0" Trans_m="0 0 -2" RGB="0 0 0"/>

    <!-- Macka 4 -->
    <Cube Name="Korpus.Macka4" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="90 -90 0" Trans_m="0 0 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka4.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka4.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="30 30 0" Trans_m="0 0 -2" RGB="0 0 0"/>

    <!-- Macka 5 -->
    <Cube Name="Korpus.Macka5" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="135 -90 0" Trans_m="-0.5 0.5 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka5.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka5.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="30 30 0" Trans_m="0 0 -2" RGB="0 0 0"/>

    <!-- Macka 6 -->
    <Cube Name="Korpus.Macka6" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="180 -90 0" Trans_m="-0.5 0 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka6.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka6.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="30 30 0" Trans_m="0 0 -2" RGB="0 0 0"/>

    <!-- Macka 7 -->
    <Cube Name="Korpus.Macka7" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-90 -90 0" Trans_m="0 0 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka7.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka7.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="30 30 0" Trans_m="0 0 -2" RGB="0 0 0"/>

    <!-- Macka 8 -->
    <Cube Name="Korpus.Macka8" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-135 -90 0" Trans_m="-0.5 -0.5 -0.8" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka8.Segment1" Shift="0 0 -0.5" Scale="0.3 0.3 2" RotXYZ_deg="-45 -45 45" Trans_m="0 0 -2" RGB="255 50 0"/>
    <Cube Name="Korpus.Macka8.Segment1.Segment2" Shift="0 0 -0.5" Scale="0.3 0.3 1" RotXYZ_deg="30 30 0" Trans_m="0 0 -2" RGB="0 0 0"/>
</Objects>





  </Config>
  
